<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Empresa</title>
  <base href="/empresa">
  <link rel="stylesheet" href="/style_login.css">
</head>

<body>
  <div class="page">
    <form method="post" action="/empresa" class="formLogin" onsubmit="alert('Empresa cadastrada com sucesso!')">
      <h1>Cadastro de Empresa</h1>
      <p>Digite os seus dados no campo abaixo.</p>
        <section>
          <div class="pai">
            <div>
              <label for="nome" id="atv">Nome</label>
              <input type="text" name="nome" placeholder="Digite o nome da sua empresa" id="atv" autofocus="true" required>
            </div>
            <div>
              <label for="cnpj" id="atv">CNPJ</label>
              <input type="text" name="cnpj" placeholder="Digite o seu cnpj" id="atv" required>
            </div>
          </div>
          <div class="pai">
            <div>
              <label for="email" id="atv">E-mail</label>
              <input type="email" name="email" placeholder="Digite o seu e-mail" id="atv" required>
            </div>
            <div>
              <label for="senha" id="atv">Senha</label>
              <input type="password" name="senha" placeholder="Digite uma senha" id="atv" required>
            </div>
          </div>
          <div class="pai">
            <div>
              <label for="telefone" id="atv">Telefone</label>
              <input type="text" name="telefone" placeholder="Digite o seu telefone" id="atv" required>
            </div>
            <div>
              <label for="ramo" id="atv">Ramo</label>
              <input type="text" name="ramo" placeholder="Digite o ramo da sua empresa" id="atv" required>
            </div>
          </div>
            <div>
              <label for="endereco">Endereço</label>
              <input type="text" name="endereco" placeholder="Digite o seu endereço" id="dalee" required>
            </div>
          <div class="pai">
            <div>
              <label for="cidade" id="atv">Cidade</label>
              <input type="text" name="cidade" placeholder="Digite a sua cidade" id="atv" required>
            </div>
            <div>
              <label for="pais" id="atv">País</label>
              <input type="text" name="pais" placeholder="Digite o seu país" id="atv" required>
            </div>
          </div>
        </section>
        <section id="botoes">
          <button type="reset" value="Acessar" class="cadastro">Apagar</button>
          <button type="submit" value="Acessar" class="cadastro" id="env">Enviar</button>
        </section>
    </form>
  </div>
</body>

</html>