<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-PAMPA</title>
</head>
<body>
    <header>
        <p id="cabecalho">
          <a href="/">HOME</a>
          <a href="cadastro" id="cadastro">CADASTRAR USUARIO</a>
          <a href="empresa" id="empresa">CADASTRAR EMPRESA</a>
          <a href="editarUsuario" id="empresa">EDITAR USUARIO</a>
          <a href="editarEmpresa" id="empresa">EDITAR EMPRESA</a>
        </p>
    </header>
    <main>
        <h1>TESTE</h1>
    </main>
</body>
</html>