<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <base href="/loginEmpresa">
	<title>E-Pampa Login Empresa</title>
	<link rel="stylesheet" href="/style_login.css">
</head>
<body>
    <div class="page">
		<form method="POST" action="/loginEmpresa" class="formLogin">
		  <h1>Login Empresarial</h1>
		  <p>Digite os seus dados de acesso no campo abaixo.</p>
		  <label for="email">E-mail</label>
		  <input type="email" name="email" placeholder="Digite seu e-mail" autofocus="true" required/>
		  <label for="senha">Senha</label>
		  <input type="password" name="senha" placeholder="Digite sua senha" required/>
		  <a href="/empresa">Não possui uma conta?</a>
		  <input type="submit" value="Acessar" class="btn" />
		  <p id="mensagemErro" class="erro"></p>
		</form>
	  </div>

	  <script>
		const form = document.querySelector('.formLogin');
		const mensagemErro = document.querySelector('#mensagemErro');

		form.addEventListener('submit', async (event) => {
		  event.preventDefault();
		  const formData = new FormData(form);
		  const response = await fetch('/login', {
			method: 'POST',
			body: formData
		  });

		  if (response.ok) {
			window.location.href = '/perfil';
		  } else if (response.status === 401) {
			mensagemErro.textContent = 'Senha incorreta.';
		  } else if (response.status === 404) {
			mensagemErro.textContent = 'Cadastro não encontrado.';
		  } else {
			mensagemErro.textContent = 'Ocorreu um erro ao fazer login.';
		  }
		});
	  </script>
</body>
</html>