<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_tipoLogin.css">
    <title>E-PAMPA</title>
</head>
<body>
    <main>
      <a href="/login">
        <div class="section hpanel leftpan">
            <div class="background-img">
              <div class="content-area">
                <h2>Conta Pessoal</h2>
              </div>
            </div>
          </div>
      </a>
      <a href="/loginEmpresa">
          <div class="section hpanel rightpan">
            <div class="background-img">
              <div class="content-area">
                <h2>Conta Comercial</h2>
              </div>
            </div>
          </div>
      </a>
    </main>
</body>
</html>